@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fredoka&display=swap');
*{
padding: 0;
margin: 0;
}
body{
    font-family: 'Fredoka';
}

main{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
h1{
   text-align: center;
}
.seccion1{
    display: flex;
    background-color: rgb(41, 41, 41);
    color: white; 
    padding: 10px 0;
    justify-content: start;
    flex-wrap: nowrap;
    height: 30px;
}
.fa-phone {
    padding: 0;
    text-align: center;
    margin-right: 15px;
    
}
.fa-envelope{
    text-align: center;
    margin-right: 15px;
}
.mail{
    margin-top: 7px;
    font-size: small;
    color: white;
    margin-right: 50px;
}
.tel{
    margin-top: 7px;
    margin-left: 40px;
    text-decoration: none;
    font-size: small;
    color: white;
    margin-right: 60px;
}

.delivery{
    margin-top: 7px;
    text-decoration: none;
    font-size: small;
    color: white;
    margin-left:440px ;
    margin-right: 25px;
    
}
.lineaheader{
    margin:1px 25px;
    border-right: solid 1px white;
}
.fa-truck-fast{
    margin-right: 10px; 
    text-decoration: none;
    text-decoration-line: none;
    font-size: medium;
    font-weight: thin
}
.l1{
    color: white;
    font-size: small;
    font-weight: lighter;

}
.selectpadre{
    display: flex;
    cursor: pointer;
    height: 15px;
}
.select0{
    appearance: none;
    border: none;
    color: white;
    background-color: rgb(41, 41, 41);
    margin: 0;
    margin-left: 15px;
    font-size: small;
    font-weight: lighter; 
    cursor: pointer;
    width: 45px;
    height: 17px;
    margin-top: 7px;
}
.select1{
    appearance: none;
    border: none;
    color: white;
    background-color: rgb(41, 41, 41);
    margin: 0;
    margin-left: 15px;
    font-size: small;
    font-weight: lighter; 
    cursor: pointer;
    width: 60px;
    height: 15px;
    margin-top: 8px;
}

.material-symbols-outlined {
    position:relative;
    right: 20px;
    top: 4px;
    transition: all 0.25s ease;
    font-variation-settings:
    'FILL' 0,
    'wght' 1000,
    'GRAD' 0,
    'opsz' 48
}
div .material-symbols-outlined:hover{
    margin-top: 2px;
}


.logop{
    margin-top: 10px;
    margin-left: 20px;
    width: 90px;
    height: 90px;
}
.barrabuscador{
    display: flex;
    height: 100px;  
}

.buscador{
    margin-top: 25px;
    margin-left: 300px;
    margin-bottom: 50px;
    width: 400px;
    height: 37px;
}
.barrabuscador a{
    text-decoration: none;
    color: black;

}

.favoritos{
    margin-top: 30px;
    margin-left: 160px;
    font-size: small;
    height: 20px;
}
a .material-symbols-outlined {
    position: absolute;
    top: 68px;
    right: 260px;
    margin: 0;
    color: orangered;
    font-variation-settings:
    'FILL' 50,
    'wght' 15,
    'GRAD' 350,
    'opsz' 10

  }
  .carrito .material-symbols-outlined {
    position: absolute;
    top: 68px;
    right: 145px;
    margin: 0;
    color: orangered;
    font-variation-settings:
    'FILL' 50,
    'wght' 15,
    'GRAD' 350,
    'opsz' 10

  }
.fa-heart{
    margin-right: 10px;
    color: black;
}
.carrito{
    margin-top: 30px;
    margin-left: 30px;
    height: 25px;
    font-size: small;
}
.fa-cart-shopping{
    margin-right: 10px;
}
.user{ 
    margin-top: 30px;
    margin-left: 30px;
    height: 25px;
    font-size: small;
}
.menu{
    display: flex;
}
.fa-paper-plane{
    margin-right: 8px;
}
.seguirorden{
    padding: 0;
    background-color: white;
    width: 130px;
    height: 35px;
    margin-left: 300px;;
    border-radius: 5px;
    font-size: smaller;
    border: solid 1px rgb(155, 154, 154); 
    transition: all .3s;
}
.seguirorden:hover{
  transform: scale(1.05);
  background-color: orangered;
  color: white;
  cursor: pointer;
}
nav a{
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: small;
}
nav{
    padding-top:7px;
}
.mujer{
    margin-top: 50px;
    border-radius: 5%;
    margin-right:50px ;
    width: 380x;
}
.dibujo{
    display: flex;
    justify-content: center;
}
.linea{
    border-top: solid 1px rgb(155, 154, 154); 
    width: 75px;
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
}
.formulario h1{
    margin:15px 0;
}
.logitos
    {
        display: flex;
        justify-content: space-between; 
        padding: 0px 45px;
        flex-wrap: nowrap;
        align-content: center;
    } 

.g{
    width: 40px;
    height: 35px; 
    margin-top: 1.5px;
    
}

.botonlogo{
    border: solid 1px rgb(155, 154, 154); 
    border-radius: 5px;
    width: 60px;
    height: 40px; 
    padding:0;
    background-color: white; 
    transition: all .3s;
}
i{
    text-align: center;

}
.fa-facebook-f{
    color: rgb(71, 85, 214);
}

.botonlogo:hover{
    cursor: pointer;
    transform: scale(1.1);

}
.formulario{
    margin-top: 50px;
    border: solid 1px rgb(155, 154, 154);
    flex: 0 0 25%;
    border-radius: 3%;  
    padding-bottom: 5px; 
    height: 460px;
    
}
.division{
    margin:15px 0;
    text-align: center;
    font-size: medium;
    color: rgb(104, 103, 103);
    font-weight: 590; 
}


.boton{
    display: flex;
    justify-content: space-between;
    margin:0 50px;
    padding: 0 0px;
}
.boton1{
    text-decoration: none; 
    line-height: 15px;
    font-size: small;
    text-align: center;
    color: black;
    font-weight: bolder;
    width: 50px;
    padding: 8px 14px;
    border-radius: 10px;
    transition: all .3s;
}
.boton1:hover{
    width: 50px;
    font-weight: lighter;
    padding: 8px 14px;
    background-color: orangered;
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    margin-top: 5px;
}
label{
    font-size: small;
    margin-top: 15px;
    font-weight: 590;
    transition: all .3s;
}
label:hover{
    cursor: pointer;
}
input{
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: none;
    border: solid 1px rgb(155, 154, 154);
    padding: 0px 5px;
    font-size: small;
    color: rgb(155, 154, 154);
}

.Olvidaste{
    text-decoration: none;
    font-size: small;
    font-weight: 590;
    margin: 5px;
    color: rgb(104, 103, 103);
}
.boton2{
    text-decoration: none;
    font-size: small;
    margin-top: 15px;
    text-decoration-style: none;
    text-align: center;
    width: 100px;
    margin-left: 50px;
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: bolder;
    /* color: black; */
    transition: all .3s;
    background-color: orangered;
    color: white;
     

}
.boton2:hover{
    transform: scale(1.05);
}
.noaccount{
    text-decoration: none;
    font-size: small;
    margin:15px 93px;
    text-align: center; 
    color: rgb(104, 103, 103);
    font-weight: 590; 
}
.registro{
    display: block;
    width: 120px;
    margin-top: 15px;
    margin-left: 100px;
    text-align: center;
    text-decoration: underline;
    line-height: 15px;
    font-size: small;
    color: black;
    font-weight: bolder;
    transition: all .3s;
}

.registro:hover{
    font-size: small;
    color: orangered;
}
footer{
    height: 50px;
}
footer a{
    margin-left: 540px;
    text-align: center;
    text-decoration: none;
    color: black;

    
}
footer p{
    margin-left: 540px;
    margin-right: 550px;
    margin-top:50px;
    text-align: center;
    /* border-top: solid 1px rgb(104, 103, 103);
    transform: scaleX(0.001);
    transition: border 60s; */
}
/* footer:hover p{
        transform: scaleX(1);
} */