@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Fredoka&display=swap');
*{
padding: 0;
margin: 0;
}
body{
    font-family: 'Fredoka', sans-serif;
}

main{
    /* background-color: black; */
    /* border: solid 1px black; */
    display: flex;
    align-items: stretch;
    justify-content: center;
}
h1{
   text-align: center;
}
.seccion1{
    display: flex;
    background-color: rgb(41, 41, 41);
    color: white; 
    padding-top: 15px;
    justify-content: space-between;
}
.tel{
    text-decoration: none;
    font-size: small;
    color: white;

}
.mujer{
    border-radius: 5%;
    margin-right:50px ;
    width: 380x;
}
.dibujo{
    display: flex;
    /* border: solid 1px black; */
    justify-content: center;
}
.linea{
    border-top: solid 1px rgb(155, 154, 154); 
    width: 75px;
    margin-top: 27px;
    margin-left: 5px;
    margin-right: 5px;
}

.logitos
    {
        display: flex;
        justify-content: space-between; 
        /* border: solid 1px black; */
        padding: 0px 45px;
        flex-wrap: nowrap;
        align-content: center;
        /* height: 50px; */
    } 

.g{
    /* border: solid 1px rgb(155, 154, 154); */
    width: 40px;
    height: 35px; 
    margin-top: 1.5px;
    
}

.botonlogo{
    border: solid 1px rgb(155, 154, 154); 
    border-radius: 5px;
    width: 60px;
    height: 40px; 
    padding:0;
    background-color: white; 
}
i{
    text-align: center;

}
.fa-facebook-f{
    color: rgb(71, 85, 214);
}

.botonlogo:hover{
    transform: scale(1.2);

}
.formulario{
    border: solid 1px rgb(155, 154, 154);
    flex: 0 0 25%;
    border-radius: 3%;  
    padding-bottom: 5px; 
}
.division{
    /* ver como hacer las lineas */
    text-align: center;
    font-size: medium;
    color: rgb(104, 103, 103);
    font-weight: 590; 

}

a{
    text-decoration: none; 
        /* border: solid 1px black; */

}

.boton{
    display: flex;
    justify-content: space-between;
    margin:0 50px;
    padding: 0 0px;
    /* border: solid 1px black; */
}
.boton1{
    line-height: 15px;
    font-size: small;
    text-align: center;
    color: black;
    font-weight: bolder;
    /* border: solid 1px black; */
    width: 50px;
    padding: 8px 14px;
    
    /* width: 55px;
    height: 15px; */
}
.boton1:hover{
    width: 50px;
    font-weight: lighter;
    padding: 8px 14px;
    border-radius: 10px;
    /* border: solid 1px black; */
    background-color: orangered;
    color: white;
}
form{
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
    margin-top: 5px;
}
label{
    font-size: small;
    margin-top: 15px;
    font-weight: 590;
}

input{
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    border-style: none;
    border: solid 1px rgb(155, 154, 154);
    padding: 0px 5px;
    font-size: small;
    color: rgb(155, 154, 154);
}
.Olvidaste{
    /* border: solid 1px #353535; **/
    font-size: small;
    font-weight: 590;
    margin: 5px;
    color: rgb(104, 103, 103);
}
.boton2{
    font-size: small;
    margin-top: 15px;
    text-decoration-style: none;
    text-align: center;
    /* border: solid 1px #353535; */
    width: 100px;
    margin-left: 50px;
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: bolder;


}
.boton2:hover{
    font-weight: lighter;
    padding: 10px 16px;
    border-radius: 10px;
    /* border: solid 1px black; */
    background-color: orangered;
    color: white;
}
.noaccount{
    font-size: small;
    margin: 5px;
    text-align: center; 
    color: rgb(104, 103, 103);
    font-weight: 590; 
}
.registro{
    margin-left: 115px;
    /* border: solid 1px black; */
    text-align: center;
    text-decoration: underline;
    line-height: 15px;
    font-size: small;
    color: black;
    font-weight: bolder;
    /* border: solid 1px black; */
}

.registro:hover{
    font-size: small;
    color: orangered;
}
